.btn-pill {
  margin: 2px;
  //  pointer-events: none;
}

.progress {
  margin-top: 1em;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

ul.hidden {
  display: none;
}

.icon-editing {
  color: #ef9a3c !important;
}
