<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="title">Filter by module name or description</label>
      <input type="text" class="form-control" id="filterText" placeholder="Type to filter" [(ngModel)]="filterText"
        name="filterText" (keyup)="filterModules()" />
    </div>
  </div>
</div>

<div class="row">
  <div *ngFor="let m of modules; index as i">
    <div *ngIf="i < 10">
      <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ m.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ m.numSemester }} semester</h6>
            <p class="card-text">{{ m.description }}</p>
            <a href="#" class="card-link">Add to my Study Program</a>
            <a href="#" class="card-link">Show more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>