<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1 class="title">
        Study Programs
      </h1>
      <div class="text-center" [hidden]="!isAnonymous">
        <h5>You have limited functionality because you are not logged in. <a href="#" routerLink="/login"> Login </a> to
          use all functionality in the tool.
        </h5>
      </div>
      <div class="text-center">
        <h5>Disclaimer: you are using a prototype release of the Curriculum Design Tool. This tool is currently under
          development
          and we are still experimenting with functionality and user interface. Bugs may occur. Thank you for your
          patience.
        </h5>
      </div>
      <div class="card card-accent-primary">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-3 col-md-2" tooltip="{{isAnonymous? 'Login to be able to add study programs' : ''}}">
              <button type="button" class="btn btn-block btn-outline-primary" routerLink="/newsp/empty"
                [disabled]="isAnonymous">
                New
              </button>
            </div>
            <div class="col-sm-3 col-md-4">
              <!-- offset-md-2  -->
              <div class="input-group">
                <span class="input-group-prepend">
                  <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
                <input class="form-control" id="input1-group2" type="search" name="input1-group2" placeholder="Search"
                  autocomplete="search" [(ngModel)]="searchText" (keyup)="filter()" />
              </div>
            </div>
            <div class="col-sm-3 col-md-4">
              <div class="text-center">
                <button class="btn btn-pill btn-outline-primary" [ngClass]="{'active': showOnlyDepth==-1}"
                  (click)="showOnlyDepth=-1">All</button>
                <button class="btn btn-pill btn-outline-primary" [ngClass]="{'active': showOnlyDepth==0}"
                  (click)="showOnlyDepth=0">Study Programs</button>
                <button class="btn btn-pill btn-outline-primary" [ngClass]="{'active': showOnlyDepth==1}"
                  (click)="showOnlyDepth=1">Modules</button>
                <button class="btn btn-pill btn-outline-primary" [ngClass]="{'active': showOnlyDepth==2}"
                  (click)="showOnlyDepth=2">Courses</button>
                <button class="btn btn-pill btn-outline-primary" [ngClass]="{'active': showOnlyDepth==3}"
                  (click)="showOnlyDepth=3">Lectures</button>
              </div>
            </div>
            <div class="col-sm-3 col-md-2">
              <button type="button" class="btn btn-block btn-link" (click)="advancedSearch = !advancedSearch">
                Advanced Search
              </button>
            </div>
            <!-- Advanced search -->
            <ng-container *ngIf="advancedSearch">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2 offset-md-4 col-sm-3" style="display: inline-flex">
                    <span class="input-group-prepend">
                      <label class="switch switch-label switch-pill switch-outline-primary-alt">
                        <input class="switch-input" type="checkbox" value="affiliation" [(ngModel)]="affiliationFilter"
                          checked />
                        <span class="switch-slider" data-checked="✓" data-unchecked="X"></span>
                      </label>
                      <div class="pl-1">Affiliation</div>
                    </span>
                  </div>
                  <div class="col-md-2 col-sm-3" style="display: inline-flex">
                    <span class="input-group-prepend">
                      <label class="switch switch-label switch-pill switch-outline-primary-alt">
                        <input class="switch-input" type="checkbox" value="knowledges" [(ngModel)]="knowledgeFilter"
                          checked />
                        <span class="switch-slider" data-checked="✓" data-unchecked="X"></span>
                      </label>
                      <div class="pl-1">Knowledge linked</div>
                    </span>
                  </div>

                  <div class="col-md-2 col-sm-3" style="display: inline-flex">
                    <span class="input-group-prepend">
                      <label class="switch switch-label switch-pill switch-outline-primary-alt">
                        <input class="switch-input" type="checkbox" value="skills" [(ngModel)]="skillFilter" checked />
                        <span class="switch-slider" data-checked="✓" data-unchecked="X"></span>
                      </label>
                      <div class="pl-1">Learning Outcomes</div>
                    </span>
                  </div>

                  <div class="col-md-2 col-sm-3" style="display: inline-flex">
                    <span class="input-group-prepend">
                      <label class="switch switch-label switch-pill switch-outline-primary-alt">
                        <input class="switch-input" type="checkbox" value="fieldFilter" [(ngModel)]="fieldFilter"
                          checked />
                        <span class="switch-slider" data-checked="✓" data-unchecked="X"></span>
                      </label>
                      <div class="pl-1">Field of study</div>
                    </span>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="card-body">
          <div *ngFor="let sp of filteredStudyPrograms">
            <div *ngIf="showOnlyDepth === -1 || sp.depth === showOnlyDepth ">
              <div class="row" *ngIf="sp.levelPublic || sp.userId==ownUsrId">
                <div class="col-md-10">
                  <button type="button" class="btn text-justify" routerLink="/detail/{{ sp._id }}">
                    <span>
                      <h1 style="display: inline;">{{ sp.name }}</h1>
                      <!-- <h6 *ngIf="sp.levelPublic" style="display: inline;" class="text-level">Public</h6> -->
                      <h6 *ngIf="!sp.levelPublic" style="display: inline;" class="text-level">Private</h6>
                      <h6>{{ sp.affiliation }}</h6>
                      <p class="text-muted">{{ sp.description | slice:0:300 }} ... </p>
                      EQF Level: {{ sp.eqf }}
                    </span>
                    <!-- <span
                  *ngFor="let mk of o.knowledge"
                  class="badge badge-pill float-right"
                  [ngClass]="'bok-' + (mk | slice: 1:3)"
                >
                  {{ mk }}
                </span> -->
                  </button>
                </div>
                <div class="col-md-2">
                  <div class="row">
                    <div class="col-3 col-sm-3 col-md-3 no-padding">
                      <button type="button" class="btn btn-block btn-link" [popover]="popTemplateList" tooltip="Share"
                        popoverTitle="Copy link, export to PDF or XML" placement="top" [outsideClick]="true">
                        <i class="fa fa-share-alt fa-lg mt-4"></i>
                      </button>
                    </div>
                    <div class="col-3 col-sm-3 col-md-3 no-padding"
                      tooltip="{{isAnonymous? 'Login to be able to duplicate' : 'Duplicate'}}">
                      <button type="button" class="btn btn-block btn-link" routerLink="/newsp/duplicate/{{ sp._id }}"
                        [disabled]="isAnonymous">
                        <i class="fa fa-copy fa-lg mt-4"></i>
                      </button>
                    </div>
                    <div class="col-3 col-sm-3 col-md-3 no-padding"
                      tooltip="{{isAnonymous? 'Login to be able to edit' : sp.userId==afAuth.auth.currentUser?.uid?  'Edit' : 'You can edit only your own study programs'}}">
                      <button type="button" class="btn btn-block btn-link" routerLink="/newsp/copy/{{ sp._id }}"
                        [disabled]="isAnonymous || sp.userId!=afAuth.auth.currentUser?.uid">
                        <i class="fa fa-edit fa-lg mt-4"></i>
                      </button>
                    </div>
                    <div class="col-3 col-sm-3 col-md-3 no-padding"
                      tooltip="{{isAnonymous? 'Login to be able to remove' : sp.userId==afAuth.auth.currentUser?.uid?  'Remove' : 'You can remove only your own stydy programs'}}">
                      <button type="button" class="btn btn-block btn-link" data-toggle="modal"
                        (click)="dangerModal.show()"
                        [disabled]="isAnonymous || sp.userId!=afAuth.auth.currentUser?.uid">
                        <i class="fa fa-trash-o fa-lg mt-4"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #popTemplateList>
              <app-popup idOP="{{sp._id}}"></app-popup>
            </ng-template>

            <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
              aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-danger" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Are you sure you want to delete this Study Program?</h4>
                    <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>After you delete it it won't be accessible to anyone.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="dangerModal.hide()">Close</button>
                    <button type="button" class="btn btn-danger" (click)="removeStudyProgram(sp._id)">Delete</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
<!--/.row-->
