<!-- Modal -->
<div bsModal #releaseModal="bs-modal" class="modal fade" id="releaseModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="releaseModalTitle">Release Notes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="releaseModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br>
        <h4>v0.15 - 9th July 2020</h4>
        <ul>
          <li>Added custom LO guidelines</li>
          <li>Fix bug with advanced search</li>
        </ul>
        <br>
        <h4>v0.14 - 1st July 2020</h4>
        <ul>
          <li>Provide sorting by EQF</li>
          <li>Fix minor issues</li>
        </ul>
        <br>
        <h4>v0.13 - 1st June 2020</h4>
        <ul>
          <li>Solved bug adding previously deleted study area or transversal skill</li>
        </ul>
        <br>
        <h4>v0.12 - 15th May 2020</h4>
        <ul>
          <li>Add sorting by Last updated, Name and Organization name</li>
          <li>Add pagination to Home view</li>
        </ul>
        <br>
        <h4>v0.11 - 14th May 2020</h4>
        <ul>
          <li>Ability to add transversal skills (ESCO) to all levels </li>
          <li>Make BoK concepts colors same as Findinbok</li>
        </ul>
        <br>
        <h4>v0.10 - 6th May 2020</h4>
        <ul>
          <li>Add RDF in PDF metadata</li>
          <li>Add children list, reorder children by dragging list</li>
        </ul>
        <br>
        <h4>v0.9 - 5th May 2020</h4>
        <ul>
          <li>Add Learning Outcomes to all levels</li>
          <li>Differentiate between inherited and own Learning Outcomes</li>
        </ul>
        <br>
        <h4>v0.8 - 4th May 2020</h4>
        <ul>
          <li>Solve bug that allowed to save with no organization</li>
        </ul>
        <br>
        <h4>v0.7 - 30th April 2020</h4>
        <ul>
          <li>Block Curricula if someone else is editing</li>
          <li>Field (Study area) is a multiple field</li>
        </ul>
        <br>
        <h4>v0.6 - 29th April 2020</h4>
        <ul>
          <li>Fix multiple times saving bug</li>
          <li>Add filter by author: My content, My organization's content</li>
          <li>Fix bug with content visibility</li>
        </ul>
        <br>
        <h4>v0.5 - 28th April 2020</h4>
        <ul>
          <li>Add organizations. Add all learning content and creator users to EO4GEO organization</li>
          <li>Add 'Save' and 'Save and Exit' button when editing</li>
          <li>Explore and use bibliography from BoK</li>
          <li>Add missing tooltips and placeholders</li>
          <li>Add field for course type (Common, Specialization or Elective)</li>
          <li>Number of semester allows text</li>
          <li>Fix bug when saving a collapsed node. Now children are saved</li>
          <li>Change PDF name, and fix large names not appearing</li>
          <li>Add release notes</li>
          <li>Other minor bugs fixed</li>
        </ul>

        <br>
        <h4>v0.4 - 9th April 2020</h4>
        <ul>
          <li>Fix overlapping in PDF</li>
          <li>Change graph visualization to avoid overlapping</li>
          <li>Hide 'Remove' button if not posible to remove content</li>
          <li>Added explanation before starting to create new content</li>
          <li>Fix advanced search. Show total results and a message if no results.</li>
          <li>Bug fixing</li>
        </ul>


        <br>
        <h4>v0.3 - March 2020</h4>
        <ul>
          <li>Add annotated BoK knowledge section</li>
          <li>Add type of learning content in main list</li>
          <li>Bug fixing</li>
        </ul>

        <br>
        <h4>v0.2 - Feb. 2020</h4>
        <ul>
          <li>Improve the search for existing view</li>
          <li>Export as PDF and XML</li>
          <li>Bug fixing</li>
        </ul>

        <br>
        <h4>v0.1 - Jan. 2020</h4>
        <ul>
          <li>Resizing of window redraws graph</li>
          <li>Advanced search implemented</li>
          <li>Add private learning content</li>
          <li>Study program customizable (start with Module, Course or Lecture possible) </li>
          <li>Add Google Analytics</li>
        </ul>

        <br>
        <h4>v0.0 - Nov. 2019</h4>
        <ul>
          <li>Look and feel as other EO4GEO Tools</li>
          <li>Integrate single login</li>
          <li>BoK content can be explored and reused</li>
          <li>Existing content can be reused</li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="releaseModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>