<b>How to get started</b>
<br><br>
<p>You can create any educational offer item (study program, module, course, lecture) depending on your needs
  and taking into account the items hierarchy.</p>

<p>The general structure is Study program - Module - Course - Lecture, whereby each parents aggregates (contains
  several)
  children. So, a Study program is a grouping of 1 or more Modules. A Module is a grouping of 1 or more Courses. A
  Course
  is a grouping of 1 or more lectures.</p>

<p>Such a grouping could correspond with a semester (academic curriculum), or it could correspond with a topical
  grouping
  (for example, a VET training with 3 related courses on SDI's). The structure also allows you to skip any of the items.
  So, if you don't want modules in a Study program, that's fine, just skip them and specify Courses directly.</p>

  &emsp; Study Program <br>
  &emsp; &emsp; Module <br>
  &emsp; &emsp; &emsp; Course <br>
  &emsp; &emsp; &emsp; &emsp; Lecture<br>
<br><br>
<b> Where: </b>
<br><br>
<ul>
  <li>A Study program is a curriculum of two or more courses (grouped or not in Modules) that is intended to lead to a
    degree,
    diploma, or certificate.</li>
  <li>A Module is a collection of courses grouped because courses are runned over the same year or semester, or tackle
    the
    same topic.</li>
  <li>A Course is a unit of teaching, a set of lectures or a plan of study on a particular subject, usually leading to
    an
    exam
    or qualification.</li>

  <li>A Lecture is a formal talk on a serious subject intended to display information or teach people about a particular
    subject (also known as lessons or classes)</li>
</ul>
<br><br>
<b> Strategies for creating educational offers </b>
<br><br>
<p>Depending on what you want to model, you will choose a different unit. For example, for an academic curriculum you'll
  choose a <b>Study program</b>. For a VET training, you can choose a <b>Course</b> (if it's a single course), or even a
  <b>Lecture</b> (if
  it's a single class), or a <b>Module</b> if it's a grouping of different courses.</p>

<p>The straightforward way of creating an educational offer is following its hierarchy. So, creating the high level item
  first, then click on the desired level to add lower level items.
  Alternatively, the flexibility and modularity of the tool allows to create single items for being grouped later on.
  That
  means that contents previously created could be searched and added to a certain educational offer. So, you can also
  create contents starting from lower levels. For instance creating first a set of single courses, for being later
  grouped
  into Modules.</p>

<br><br>